<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Storage V1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      name="name" type="text"
      placeholder="ArtikelNaam"
      [(ngModel)]='tempName'>
    </ion-input>
  </ion-item>
 <ion-button (click)="setItem()" >
    <ion-icon
      slot="icon-only" name="save"> sla op
    </ion-icon>
  </ion-button>

  <ion-button (click)="getItem()" >
    <ion-icon slot="icon-only" name="download">getItem</ion-icon>
    </ion-button>

  <ion-button (click)=" defaultItem()" >
    <ion-icon slot="icon-only" name="skull-outline">getItem</ion-icon>
  </ion-button>

Naam: {{tempName}}

</ion-content>
